<input #fileInput type="file" accept=".json" (change)="importDecks($event)" hidden>

<app-page-layout
  title="Decks"
  [buttons]="titleButtons">

  <app-paged-table
    [items]="decks.slice().reverse()"
    [pageSize]="10"
    [actionsTemplate]="actions"
    [columns]="columns"
    [buttons]="actionButtons"
    (rowClicked)="showDeck($event)">
  </app-paged-table>

  <ng-template #actions let-item>
    <button class="secondary outline small no-border" (click)="editDeck(item)"><i class="ti ti-edit"></i></button>
    <button class="secondary outline small no-border" (click)="deleteDeck(item.id)"><i class="ti ti-trash"></i></button>
  </ng-template>

  <div *ngIf="decks.length === 0">No decks available. Create a deck to get started!</div>
</app-page-layout>
