<input #fileInput type="file" accept=".json" (change)="importDecks($event)" hidden>

<app-page-layout
  title="Decks"
  [buttons]="titleButtons">

  <app-paged-table
    [items]="decks.slice().reverse()"
    [pageSize]="10"
    [actionsTemplate]="actions"
    [columns]="columns"
    [buttons]="actionButtons"
    (rowClicked)="showDeck($event)"
    placeholder="No decks available. Create a deck to get started!">
  </app-paged-table>
</app-page-layout>

<ng-template #actions let-item>
  <button class="secondary outline small no-border" (click)="editDeck(item)"><i class="ti ti-edit"></i></button>
  <button class="secondary outline small no-border" (click)="deleteDeck(item.id)"><i class="ti ti-trash"></i></button>
</ng-template>
